.list {
	display: grid;
	grid-template-columns: 1fr min-content 1fr min-content 1fr;
	justify-content: space-between;
	gap: var(--spacing-10);
	align-items: end;

	@media screen and (max-width: 1024px) {
		grid-template-columns: 1fr;
	}
}

.item {
	align-self: self-start;
}

.divider {
	height: 75%;
	width: 3px;
	background-color: var(--grey-scale-90);

	@media screen and (max-width: 1024px) {
		display: none;
	}
}
