.NavbarItem {
	text-decoration: none;
}

.item {
	background-color: var(--grey-scale-80);
	cursor: pointer;
	height: 100%;
}

.title {
	// height: 48px;
}

.left {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.right {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.active {
	.item {
		transform: scale(1.05);
		border-radius: var(--border-radius);
		box-shadow: var(--shadows-bottom-l);
	}
	.title {
		color: var(--base-colors-primary2);
	}
}
