.inputs {
	margin-bottom: var(--spacing-12);

	@media screen and (max-width: 640px) {
		margin-bottom: var(--spacing-6);
	}
}

.checkbox {
	margin-bottom: var(--spacing-10);

	@media screen and (max-width: 640px) {
		margin-bottom: var(--spacing-5);
	}
}
