.Banner {
	// position: relative;
}

.imageContainer {
	position: relative;
}

.image {
	width: 100%;
	max-width: 100%;
}

.text {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.navigation {
	position: relative;
	background-color: var(--grey-scale-90);
	border-radius: var(--border-radius);
	width: 95%;
	margin: -5% auto 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 2px;

	@media screen and (max-width: 1024px) {
		display: none;
	}
}

.modal {
	background-color: var(--grey-scale-black);
}

.fadeIn {
	animation: 0.5s fadeIn forwards;
}

.fadeOut {
	animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate(-20px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate(0px, 0px);
	}
	to {
		transform: translate(-20px, 0);
		opacity: 0;
	}
}
